.to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
  }
  
  .back-to-top-button {
    background-color: rgb(188, 188, 188);
    border-radius: 15px;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-to-top-button:hover {
    background-color: rgb(120, 120, 120);
  }
  
  .arrow-up {
    margin-right: 5px;
  }
  